@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900;
}

::selection {
  @apply bg-violet-500/30 text-violet-200;
}

.prose {
  @apply max-w-none;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply mb-4;
}

.prose li {
  @apply mb-2;
}

.prose h2 {
  @apply mb-4 mt-8;
}

.prose a {
  @apply text-violet-400 hover:text-violet-300 transition-colors duration-200 underline;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-violet-900 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-violet-800;
}